input[type="range"] {
	width: 100%;
}

div.highlighted {
	color: #ffffff;
	font-weight: bold;
	text-shadow: 0 0 4px #000000;
	filter: drop-shadow(0 0 4px #000000);
}

.filter-badge {
	text-align: unset;
	line-height: unset;
	white-space: unset;
}

.copy-badge {
	opacity: 0;
}