body {
	min-width: 360px;
}

input[type="range"] {
	width: 100%;
}

.btn.border-0:focus {
	outline: 1px solid var(--bs-primary-border-subtle);
	border-radius: var(--bs-border-radius-sm);
	outline-offset: 2px;
}

div.highlighted {
	color: #ffffff;
	font-weight: bold;
	text-shadow: 0 0 4px #000000;
	filter: drop-shadow(0 0 4px #000000);
}

.copy-badge {
	opacity: 0;
	z-index: -1;
}

.filter-badge {
	text-align: unset;
	white-space: unset;
}